name: documentation-deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 2.1.3
      - name: Install MkDocs dependencies
        working-directory: ./src
        run: poetry install --with mkdocs
      - name: Deploy to GitHub Pages
        working-directory: ./src
        run: poetry run mkdocs gh-deploy --force
