name: pypi-release

on:
  push:
    branches:
      - main

jobs:
  release:
    environment: release
    strategy:
      matrix:
        python-version: [ "3.11" ]
        poetry-version: [ "2.1.3" ]
        os: [ "ubuntu-22.04" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Setup virtual environment
        working-directory: ./src
        run: |
          poetry install --with dev
      - name: Build and publish
        working-directory: ./src
        run: |
          poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }} --skip-existing
